<h2>About Us</h2>

<p>
	Not long ago, our daughter Isabel was born and admitted to the Neonatal Intensive Care Unit (NICU) at <%= link_to "Palmetto Baptist Hospital", "http://www.palmettohealth.org/facilities/baptist/index.html" %>. My husband Holcombe and I were not prepared emotionally for this. The love, prayers <strong>and food</strong> that we received from all of you that helped make this journey bearable.
While Isabel was in the NICU, Holcombe and I befriended another family whose son, Tyler, was in the NICU next to Isabel. In one week we shared an array of feelings that you only experience when your child is on life support. Holcombe and I were able to take Isabel home after ten long days, but Tyler remained in the NICU.</p>

<p>
	I was so moved by your simple gift of food that I made some for Tyler’s family, and gave it to them with a note of hope and love. I knew that this made a difference to them, and I wanted to replicate this small act of kindness for all parents who have to leave the hospital without their baby.
</p>

<p><strong>Caring Casseroles will provide each family that leaves their baby in the NICU a meal to take home.</strong> This small gift of food can make an enormous difference for a family.</p>

<p><strong>I am asking all of you for your support and your gift of a casserole.</strong> I ask you to “pay it forward” with me. I accept homemade or store-bought casseroles. I will take as many casseroles as you're willing to donate each month, but would like a commitment of one casserole every 6 weeks.</p>

<p><strong>My goal is to have 40 casseroles a month for Palmetto Baptist Hospital.</strong> Currently, the NICU discharges approximately 30-40 babies a month. <%= link_to "Columbia Appliance", "http://columbia.homeappliance.com" %> has already donated a freezer, and Palmetto Baptist Hospital has provided a space and resources to make this happen!</p>

<p>Let me share with you an excerpt from a note that I received from Tyler’s parents: 
	<blockquote>"Thank you from the bottom of my heart. You are definitely God-sent. I am so glad to have met you and Holcombe.".</blockquote></p>
	
<p>This note came shortly after Tyler’s funeral.</p> 
<p><strong>Please help me and commit your casserole today.</strong></p>

<p>
	Sincerely,
</p>

<p>
	April Smith<br />
	<%= mail_to 'april@caringcasseroles.org' %>
</p>