<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Caring Casseroles</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"> 
	<!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

	<%= stylesheet_link_tag 'casseroles', :media => 'screen' %>
	<%= javascript_include_tag :defaults %>
</head>

<body>
<div class="container">
	<h1>Caring Casseroles</h1>
	
	<%= flash[:notice] %>
	<% raise 'Boom' %>
	<%= yield %>
</div>
</body>
</html>